[submodule "hh-suite"]
	path = hh-suite
	url = git@github.com:soedinglab/hh-suite.git
[submodule "qhmmer"]
	path = qhmmer
	url = git@github.com:kad-ecoli/qhmmer.git
[submodule "cdhit"]
	path = cdhit
	url = git@github.com:weizhongli/cdhit.git
